*{
    margin: 0;
    padding:0;
}

.head{
    background-color: #1F2937;
    color: #f9faf8;
}

.top-head{
    display: flex;
    justify-content: space-between;
}



.link-list{
    display: flex;
    list-style: none;
}

.head-link{
    text-decoration: none;
}

.head-img-box{
    width: 50%;
    height: 50vh;
}
.head-img{
    object-fit: cover;
    width: 100%;
}