*{
    margin: 0;
    padding:0;
}

.head{
    background-color: #1F2937;
    color: #f9faf8;
    padding-bottom: 10vh;
}

.top-head{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.head-logo{
    font-size: 24px;
}

.link-list{
    display: flex;
    list-style: none;
}

.head-link{
    text-decoration: none;
    color: #f9faf8;
}

.head-bttm{
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
}


.head-text h1{
    font-size: 48px;
}

.head-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.head-img-box{
    width: 400px;
    height: 200px;
}
.head-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
}

.sect-1{
    display: flex;
    flex-direction: column;
    padding: 10vh;
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}

.card-container{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.card{
    width: 250px;
    height: 250px;
}

.img-box{
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    border-radius: 3%;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sect-2{
    background-color: #E5E7EB;
    padding: 15vh;
}

.fancy-quote{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    text-align: center;
}

.sect-3{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10vh;
}

.cta-box{
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    width: 600px;
    height: 150px;
    color: #E5E7EB;
}

.box-txt{
    margin-top: auto;
    margin-bottom: auto;
}

.cta-btn{
    color: #E5E7EB;
    background-color: #3882f6;
    border: 1px solid #E5E7EB;
    height: 40px;
    width: 80px;
    margin-top: auto;
    margin-bottom: auto;
}

footer{
    padding: 3vh;
    background-color: #1F2937;
    color: #E5E7EB;
}

footer p{
    font-size: 18px;
    text-align: center;
}